/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.gmaps,
.gmaps-panaroma {
	height: 500px;
	border-radius: 3px;
}

.gmaps.h-375 {
	height: 375px;
}

.gmaps-overlay {
	display: block;
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	background: #217f69;
	border-radius: 4px;
	padding: 10px 20px;
}

.gmaps-overlay_arrow {
	left: 50%;
	margin-left: -16px;
	width: 0;
	height: 0;
	position: absolute;

	&.above {
		bottom: -15px;
		border-left: 16px solid transparent;
		border-right: 16px solid transparent;
		border-top: 16px solid #217f69;
	}

	&.below {
		top: -15px;
		border-left: 16px solid transparent;
		border-right: 16px solid transparent;
		border-bottom: 16px solid #217f69;
	}
}

.react-dataTable .rdt_TableHead .rdt_TableHeadRow {
	height: 45px !important;
}

.select__menu {
	z-index: 9999999 !important;
}

.child-table {
	width: fit-content;
}

.bg-light-purple {
	background: rgba(115, 103, 240, .12) !important;
	color: #7367F0 !important;

	&.fc-h-event {
		border-color: rgba(115, 103, 240, .1) !important;
	}
}

.custom-control-purple .custom-control-input:checked~.custom-control-label::before {
	background: #7367F0 !important;
	border-color: #7367F0 !important;
	box-shadow: rgba(115, 103, 240, .12);
	box-shadow: 0 2px 4px 0 rgba(115, 103, 240, .4) !important;
}

.custom-control-purple .custom-control-input:not(:disabled):active~.custom-control-label::before {
	background: #7367F0 !important;
}

.custom-control-purple .custom-control-input:focus~.custom-control-label::before {
	border-color: #7367F0 !important;
}

.bg-light-blue {
	background: rgba(66, 129, 245, .12) !important;
	color: #4281f5 !important;

	&.fc-h-event {
		border-color: rgba(66, 129, 245, .1) !important;
	}
}

.custom-control-blue .custom-control-input:checked~.custom-control-label::before {
	background: #4281f5 !important;
	border-color: #4281f5 !important;
	box-shadow: rgba(66, 129, 245, .12);
	box-shadow: 0 2px 4px 0 rgba(66, 129, 245, .4) !important;
}

.custom-control-blue .custom-control-input:not(:disabled):active~.custom-control-label::before {
	background: #4281f5 !important;
}

.custom-control-blue .custom-control-input:focus~.custom-control-label::before {
	border-color: #4281f5 !important;
}

.no-wrap {
	white-space: nowrap;
}

.pb-0 {
	padding-bottom: 0px !important;
}

.announcement-desc {
	max-height: 24px;
	overflow: hidden;
	
	p {
		margin: 0 !important;
	}	
}